
<!-- <div class="main_camera main">
        <div class="camera_block">
           <div class="p-1">
              <video #video class="vid" autoplay></video>
           </div>
           <div class="pb-2">
              <button class="btn btn-primary" (click)="capture()">Capture Image</button>
           </div>
           <div class="cam_store">
              <canvas #canvas class="vid"></canvas>
           </div>
        </div>
</div> -->


<div class="main_camera" style="text-align:center">
   <div class="camera_box">
   <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
   [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
   (initError)="handleInitError($event)"></webcam>
   <br/>
   <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">TAKE PLEDGE/शपथ लीजिए</div>
   <!-- <div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div> -->
   </div>
   </div>
   <h4 *ngIf="errors.length > 0">Messages:</h4>
   <ul *ngFor="let error of errors">
   <li>{{error | json}}</li>
   </ul>


