<div class="main">
    <div class="container">
        <div class="show_frame">
            <div class="details_page">
                <div class="details_head"><img src="/assets/img/rsk_logo.png" alt="title_img"></div>
                <div class="details_block">
                    <div class="text_details">
                        <h3>The Swachh Bharat Pledge</h3>
                        <p>Mahatma Gandhi dreamt of a Swachh India. With the Swachh Bharat Mission, the country took a strong step in this direction. It is my duty to take this progress forward by keeping my surroundings clean</p>
                        <p>I pledge that I will use a toilet and ensure all members of my family do the same I will wash my hands with soap multiple times a day and observe good hygienic practices<br>
                            I will not spit in public<br>
                            I will not litter my surroundings
                            </p>
                            <p>I will share the message of Swachhata with my community, my village or city and encourage others around me to follow these Swachh practices as well</p>
                            <p>I will also undertake shramdaan for swachhata at least two hours a week</p>
                    </div>
                    <div class="pro_sec">
                        <div class="pro_photo" *ngFor ="let data of (fetchUsers$ | async); index as i; last as isLast">
                            <div class="pro_wrap" *ngIf="isLast">
                            <p>{{data.name}}</p>
                            <div class="pro_img">
                                <img [src]='data.photo'>
                            </div>
                            <p>मैं हूँ स्वच्छाग्राही</p>
                            <p>I am a Swachhagrahi</p>
                            </div>
                        </div>
                        <div class="signaturepad_frame">
                            <div id="signature-pad" class="m-signature-pad">
                               <div class="m-signature-pad-body">
                                  <signature-pad #signaturePad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()" (click)="dataSend()"></signature-pad>
                               </div>
                            </div>
                            <!-- <div class="btn_fld">
                               <button>Save</button>
                               <button type="reset" (click)='drawClear()'>Clear</button>
                            </div> -->
                         </div>
                    </div>
                    <div class="text_details">
                        <h3>स्वच्छ भारत शपथ</h3>
                        <p>स्वच्छ भारत का सपना देखा था। स्वच्छ भारत मिशन के रूप में, देश ने इस दिशा में
                            एक मजबूत कदम उठाया है। यह मेरा कर्तव्य है कि मैं अपने आसपास साफ-सफाई रखते हुए इस प्रगति को और
                            आगे बढ़ांऊ।
                        </p>
                        <p>
                            मैं शपथ लेता / लेती हूं कि मैं शौचालय का प्रयोग करूँगा / करूँगी और यह सुनिश्चित करूँगा / करूँगी कि मेरे परिवार के सभी सदस्य स्वच्छता का पालन करें। <br> मैं दिन में अनेक बार हाथों को साबुन से धोऊँगा / धोऊँगी और साफ-सफाई की अच्छी आदतों का पालन करूँगा
                            / करूँगी। <br> मैं सार्वजनिक स्थानों पर नहीं थूकूँगा / थूकूँगी।। <br> मैं अपने आसपास कोई कचरा नहीं फैलाऊँगा / फैलाऊँगी।</p>
                        <p>मैं अपने समुदाय, अपने गांव अथवा शहर में स्वच्छता के संदेश का प्रचार-प्रसार करूँगा /करूँगी और अपने
                            आसपास के अन्य लोगों को भी इन स्वच्छ आदतों का पालन करने के लिए प्रोत्साहित करूँगा / करूँगी।</p>
                            <p>मैं सप्ताह में कम से कम दो घंटे स्वच्छता के लिए श्रमदान भी करूँगा / करूँगी।</p>
                    </div>
                </div>
            </div>
            <button class="pledge_btn"><a routerLink="/couponCode">PLEASE SIGN ON THE SCREEN/कृप्या स्क्रीन पर हसताक्षर करे</a></button>
        </div>
    </div>
    <!-- <ul *ngFor ="let data of (fetchUsers$ | async); index as i; last as isLast">
        
        <li *ngIf="isLast">
            <p>{{data.name}}</p>
            <p><img [src]='data.photo'></p>
        </li>
    </ul> -->
    <!-- <li *ngFor="let user of (fetchUsers$ | async); index as i; last as isLast">
        <span *ngIf="isLast">{{user.name}}</span>
      </li> -->

  </div>  
